.dashboard-wrapper {
  background: url(https://images.pexels.com/photos/3991976/pexels-photo-3991976.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.tabs {
  height: 50px;
  width: 80vw;
  background: white;
  opacity: 0.7;
  border-radius: 15px;
  position: absolute;
  top: 40px;
  display: flex;
}

.w-20p {
  width: 20%;
  height: 100%;
}

.center-align {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
}

.standings-wrapper {
  top: 130px;
  position: absolute;
  border-radius: 15px;
  height: calc(100vh - 170px);
  width: 80vw;
  opacity: 0.7;
}

.standings-container {
  display: block;
  height: calc(100vh - 170px);
  overflow-y: scroll;
  overflow-x: visible;
  border: none;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ff000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff000000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff000000;
}
