<table class="table">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Name</th>
			<th scope="col">Games</th>
      <th scope="col">W</th>
      <th scope="col">L</th>
      <th scope="col">D</th>
      <th scope="col">Goal Difference</th>
      <th scope="col">Points</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row" class="w-5p">1</th>
			<td class="w-25p">M United</td>
			<td>4</td>
			<td class="w-5p">4</td>
      <td class="w-5p">0</td>
      <td class="w-5p">0</td>
      <td>9</td>
      <td>12</td>
		</tr>
	</tbody>
</table>